h1, .h1,
h2, .h2,
h3, .h3,
.header__menu-item {
  color: rgba(var(--color-base-accent-1));
}
.header__menu-item:hover,
.header__active-menu-item,
.header__menu-item .icon-caret {
  color: rgba(var(--color-base-accent-2));
}
.banner:after,
.banner__media:after {
  background: var(--color-base-accent-3) !important;
}
.multicolumn .title-wrapper-with-link {
  justify-content: center;
}
#Slider-template--17905253548306__d53ae852-70c5-43be-8b3e-8fa9ed8d1e0d img {
  object-fit: contain;
  transition: all 0.2s ease;
}
#Slider-template--17905253548306__d53ae852-70c5-43be-8b3e-8fa9ed8d1e0d img:hover {
  filter: saturate(0);
}